sandbox/
nohup.out
*.c
*.so
*.html
*.egg-info/
build/
*.coverage*
.hypothesis/
htmlcov/
docs/_static/
docs/_templates/
docs/_build/
*.tsv.gz
*.tsv
*.npz
tracehmm/__pycache__/*
test/.flake8
*.txt
example_data/*.npz
example_data/*.txt